th{
    background-color: rgb(2, 0, 5);
    color: white;
    padding: 10px;
    border: 1px  rgb(16, 86, 114);
  
  }
  t
  table{
    border-collapse: collapse;
    
   
  }
  
  d{
    border: 3px  rgb(0, 0, 0);
    background-color: black;
    border-spacing: 0cap;
    color: white;
    min-width: 100px;
    max-width: 250px;
    text-align: justify;
    padding: 5px;
    height: 20px;
    overflow: hidden;
  }
