




<h2>let's workout</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
          <th class="col-6">Name</th>
          <th>Type</th>
          <th>Equipment</th>
          <th>Muscle</th>
          <th>Difficulty</th>
          <th>Instructions</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of data">
            <td>{{i.name}}</td>
              <td>{{i.type}}</td>
              <td>{{i.equipment}}</td>
              <td>{{i.muscle}}</td>
              <td>{{i.difficulty}}</td>
              <td>{{i.instructions}}</td>
          </tr>
       
        <tbody>
    </table>
</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
